*{
    margin: 0;
    padding: 0;
}
html{
    scroll-behavior: smooth;
}
body{
    background-color: #f9f4ea;
}
.entries{
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    margin-top: 2%;
}
label{
    color: rgb(3, 3, 3);
    font-size: 20px;
    font-weight: 800;
}
input{
    width: 50%;
    height: 30px;
    margin-bottom: 2%;
    border-radius: 10px;
    border: none;
    caret-color: #c39335;
    text-align: center;
    font-weight: 900;
    color: #c39335;
}
input:focus, select:focus{
    outline: none;
}
select{
    margin-bottom: 2%;
    width: 50%;
    height: 30px;
    border-radius: 10px;
    border: none;
}
input[type= "button"]{
    cursor: pointer;
}

@media screen and (max-width:800px) {
    .entries{
        margin-top: 8%;
    }
    input,select{
        width: 70%;
    }
}
.university{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 70vh;
}
.uni-text{
    width: 50%;
    text-align: center;
    margin-top: -5%;
    padding: 0 2%;
}
.uni-text h3{
    font-size: 40px;
    font-weight: 900;
    color: #c39335;
}
.uni-text p{
    font-size: 25px;
    text-align: justify;
    color: #262626;
    margin-bottom: 5%;
}
.uni-text p:nth-child(3){
    text-align: center;
}
.uni-img img{
    width: 600px;
}


.btn{
    text-decoration: none;
    padding: 2%;
    color: #c39335;
    background-color: #454b69;
    font-size: 20px;
    font-weight: 700;
    transition: all 0.2s ease-in-out;
}
.btn:hover{
    background-color: #262626;
}


@media screen and (max-width: 900px){
    .university{
        flex-direction: column-reverse;
        height: 70vh;
        width: 100%;
        margin-top: 20%;
    }
    .university .uni-img img{
        width: 400px;
        margin-bottom: 20%;
    }
    .uni-text{
        width: 90%;
        margin: auto;
        margin-bottom: 30%;
    }
}
@media screen and (max-width: 600px){
    .university .uni-img img{
        width: 300px;
    }
    .uni-text{
        margin-bottom: 50%;
    }
}
@media screen and (max-width: 500px) {
    .university{
        margin-top: 40%;
    }
}
@media screen and (max-width: 380px){
    .university{
        margin-top: 10%;
    }
    .university .uni-img img{
        width: 250px;
    }
    .uni-text h3{
        font-size: 30px;
    }
    .uni-text p{
        font-size: 20px;
    }
}
@media screen and (max-width: 280px){
    .university .uni-img img{
        width: 200px;
    }
}



.footer{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 40vh;
    margin-top: 5%;
    background: #262626;
    color: #c39335;
}
.footer hr{
    width: 100%;
    border: 0.01rem solid #c39335;
    margin: 10% 0;
    display: none;
}
.foot-container{
    display: grid;
    place-items: center;
    font-size: 20px;
    width: 50%;
}
.foot-container img{
    width: 200px;
    height: 200px;
}
.foot-container p{
    margin-top: -5%;
    text-align: center;
}
.foot-container h3{
    margin-bottom: 2%;
}
.foot-container hr{
    width: 50%;
    border: 0.01rem solid #c39335;
}
.foot-container .foot-links{
    display: grid;
    grid-template-columns: auto auto;
    list-style: none;
}
.foot-links li{
    padding: 0% 5%;
    width: 100%;
    margin-top: 10px;
}
.foot-links li a{
    color: #c39335;
    text-decoration: none;
}

@media screen and (max-width: 500px){
    .footer{
        height: auto;
        flex-direction: column;
        padding: 5%;
    }
    .footer hr{
        display: block;
    }
    .foot-container{
        width: 100%;
    }
}

.top-btn{
    visibility: hidden;
    position: fixed;
    bottom: 2rem;
    right: 3rem;
    padding: 10px;
    background-color: #262626;
    color: #c39335;
    font-size: 25px;
}
.show-btn{
    visibility: visible;
}

@media screen and (max-width: 800px) {
    .top-btn{
        bottom: 1rem;
        right: 1.5rem;
    }
}
