*{
    margin: 0;
    padding: 0;
}
body{
    background-color: #f9f4ea;
}
.hero{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50vh;
    font-family: 'Raleway', sans-serif;
    padding: 2%;
    /* background-color: #f9f4ea; */
    background-color: #262626;
}
.hero-text{
    text-align: left;
    text-transform: capitalize;
    margin-left: 10%;
    width: 50%;
    text-align: center;
}
.hero-text h3{
    padding: 2% 0%;
    /* color: #886625; */
    color: #c39335;
    font-size: 30px;
    font-weight: 900;
}
.hero-text p {
    font-size: 20px;
    /* color: #886625; */
    color: #c39335;
    letter-spacing: 2px;
}
.hero-text p span{
    font-size: 50px;
    /* color: #886625; */
    color: #c39335;
    font-weight: 900;
}
.hero-img{
    max-width: 100%;
    height: auto;
}
.hero-img img{
    width: 600px;
}
@media screen and (max-width: 1344px){ 
    .hero-img img{
        width: 400px;
    }
}
@media screen and (max-width: 820px){ 
    .hero-img img{
        width: 300px;
    }
    .hero-text h3{
        font-size: 25px
    }
    .hero-text p{
        font-size: 18px;
        text-align: justify;
    }
    .hero-text p span{
        font-size: 30px;
    }
}
@media screen and (max-width: 600px){
    .hero{
        flex-direction: column-reverse;
        height: 70vh;
    }
    .hero-text{
        width: 80%;
        margin: auto;
    }
    .hero-text h3{
        font-size: 20px
    }
    .hero-text p{
        font-size: 15px;
        text-align: justify;
    }
    .hero-text p span{
        font-size: 25px;
    }
}
@media screen and (max-width: 300px){
    .hero-img img{
        width: 200px;
    }
}
.info{
    margin-top: 50px;
    border: 2px solid black;
}