*{
    margin: 0;
    padding: 0;
}
html{
    scroll-behavior: smooth;
}
body{
    background-color: #f9f4ea;
}
.hero{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50vh;
    font-family: 'Raleway', sans-serif;
    padding: 2%;
    /* background-color: #f9f4ea; */
    background-color: #262626;
}
.hero-text{
    text-align: left;
    text-transform: capitalize;
    margin-left: 10%;
    width: 50%;
    text-align: center;
}
.hero-text h3{
    padding: 2% 0%;
    /* color: #886625; */
    color: #c39335;
    font-size: 30px;
    font-weight: 900;
}
.hero-text p {
    font-size: 20px;
    /* color: #886625; */
    color: #c39335;
    letter-spacing: 2px;
}
.hero-text p span{
    font-size: 50px;
    /* color: #886625; */
    color: #c39335;
    font-weight: 900;
}
.hero-img{
    max-width: 100%;
    height: auto;
}
.hero-img img{
    width: 600px;
}
@media screen and (max-width: 1344px){ 
    .hero-img img{
        width: 400px;
    }
    svg{
        margin-bottom: 10%;
    }
}
@media screen and (max-width: 900px){ 
    .hero-img img{
        width: 300px;
    }
    .hero-text h3{
        font-size: 25px
    }
    .hero-text p{
        font-size: 18px;
        text-align: justify;
    }
    .hero-text p span{
        font-size: 30px;
    }
    svg{
        margin-bottom: 30%;
    }
}
@media screen and (max-width: 600px){
    .hero{
        flex-direction: column-reverse;
        height: 70vh;
    }
    .hero-text{
        width: 80%;
        margin: auto;
    }
    .hero-text h3{
        font-size: 20px
    }
    .hero-text p{
        font-size: 15px;
        text-align: justify;
    }
    .hero-text p span{
        font-size: 25px;
    }
}
@media screen and (max-width: 300px){
    .hero-img img{
        width: 200px;
    }
}
.info{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 70vh;
    margin: 50px 0;
}
.info .info-img{
    max-width: 80%;
    height: auto;
}
.info .info-img img{
    width: 600px;
}
.info-text{
    width: 50%;
    margin-top: -5%;
    color: #454b69;
    padding: 2%;
}
.info-text h3{
    text-align: center;
    font-weight: 900;
    font-size: 40px;
}
.info-text p{
    text-align: justify;
    font-size: 25px;
}
@media screen and (max-width: 900px){
    .info{
        flex-direction: column;
        height: 70vh;
        width: 100%;
    }
    .info .info-img img{
        width: 400px;
        margin-bottom: 20%;
    }
    .info-text{
        width: 90%;
        margin: auto;
        margin-bottom: 30%;
    }
}
@media screen and (max-width: 600px){
    .info .info-img img{
        width: 300px;
    }
    .info-text{
        margin-bottom: 50%;
    }
}
@media screen and (max-width: 380px){
    .info .info-img img{
        width: 250px;
    }
    .info-text h3{
        font-size: 30px;
    }
    .info-text p{
        font-size: 20px;
    }
}
@media screen and (max-width: 280px){
    .info .info-img img{
        width: 200px;
    }
}

.university{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 70vh;
}
.uni-text{
    width: 50%;
    text-align: center;
    margin-top: -5%;
    padding: 0 2%;
}
.uni-text h3{
    font-size: 40px;
    font-weight: 900;
    color: #454b69;
}
.uni-text p{
    font-size: 25px;
    text-align: justify;
    color: #262626;
    margin-bottom: 5%;
}
.uni-img img{
    width: 600px;
}


.btn{
    text-decoration: none;
    padding: 2%;
    color: #c39335;
    background-color: #454b69;
    font-size: 20px;
    font-weight: 700;
    transition: all 0.2s ease-in-out;
}
.btn:hover{
    background-color: #262626;
}


@media screen and (max-width: 900px){
    .university{
        flex-direction: column-reverse;
        height: 70vh;
        width: 100%;
        margin-top: 20%;
    }
    .university .uni-img img{
        width: 400px;
        margin-bottom: 20%;
    }
    .uni-text{
        width: 90%;
        margin: auto;
        margin-bottom: 30%;
    }
}
@media screen and (max-width: 600px){
    .university .uni-img img{
        width: 300px;
    }
    .uni-text{
        margin-bottom: 50%;
    }
}
@media screen and (max-width: 500px) {
    .university{
        margin-top: 40%;
    }
}
@media screen and (max-width: 380px){
    .university{
        margin-top: 10%;
    }
    .university .uni-img img{
        width: 250px;
    }
    .uni-text h3{
        font-size: 30px;
    }
    .uni-text p{
        font-size: 20px;
    }
}
@media screen and (max-width: 280px){
    .university .uni-img img{
        width: 200px;
    }
}


.footer{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 40vh;
    background: #262626;
    color: #c39335;
}
.footer hr{
    width: 100%;
    border: 0.01rem solid #c39335;
    margin: 10% 0;
    display: none;
}
.foot-container{
    display: grid;
    place-items: center;
    font-size: 20px;
    width: 50%;
}
.foot-container img{
    width: 200px;
    height: 200px;
}
.foot-container p{
    margin-top: -5%;
    text-align: center;
}
.foot-container h3{
    margin-bottom: 2%;
}
.foot-container hr{
    width: 50%;
    border: 0.01rem solid #c39335;
}
.foot-container .foot-links{
    display: grid;
    grid-template-columns: auto auto;
    list-style: none;
}
.foot-links li{
    padding: 0% 5%;
    width: 100%;
    margin-top: 10px;
}
.foot-links li a{
    color: #c39335;
    text-decoration: none;
}

@media screen and (max-width: 500px){
    .footer{
        height: auto;
        flex-direction: column;
        padding: 5%;
    }
    .footer hr{
        display: block;
    }
    .foot-container{
        width: 100%;
    }
}
<<<<<<< HEAD

.top-btn{
    visibility: hidden;
    position: fixed;
    bottom: 2rem;
    right: 3rem;
    padding: 10px;
    background-color: #262626;
    color: #c39335;
    font-size: 25px;
}
.show-btn{
    visibility: visible;
}

@media screen and (max-width: 800px) {
    .top-btn{
        bottom: 1rem;
        right: 1.5rem;
    }
}
=======
>>>>>>> 8c0e9147eb658435ea168dd250b356f6d8e78e7a
