.navbar{
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 10vh;
    padding: 1% 0;
    font-family: 'Raleway', sans-serif;
    /* background-color: #f8f3eb; */
    background-color: #262626;
}
.logo img{
    width: 150px;
    height: 150px;
}
.links-container{
    height: auto;
}
.links{
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
}
.links li{
    padding: 0px 70px;
}
.links li a{
    text-decoration: none;
    font-size: 20px;
    color: #c39335;
    transition: all 0.2s ease-in-out;
}
.responsive-nav{
    color: #c39335;
    font-size: 25px;
    background: transparent;
    border: none;
    width: 40px;
    cursor: pointer;
    display: none;
}
@media screen and (max-width:900px){
    .links{
        display: block;
    }
    .links-container{
        height: 0;
        overflow: hidden;
        position: absolute;
        top: 76px;
        left: 0;
        width: 100%;
        background-color: #c39335;
        transition: all 0.5s;
    }
    .links li{
        margin: 2% 0;
    }
    .links li a{
        color: #262626;
        font-weight: 700;
        font-size: 18px;
    }
    .responsive-nav{
        display: block;
    }
}