.title{
    text-align: center;
    color: #c39335;
    font-size: 30px;
    padding: 2%;
}
.title img{
    max-width: 50%;
    height: auto;
}
.search-form{
    width: 100%;
}
.form{
    width: 70%;
    margin: auto;
    display: grid;
    grid-template-columns: auto auto;
    place-items: center;
}
.factors{
    padding: 2%;
    width: 80%;
}
.factors label{
    display: block;
    text-align: center;
    font-size: 25px;
    font-weight: 900;
    color: #c39335;
}
.factors input[type = "text"]{
    width: 100%;
    height: 30px;
    border-radius: 10px;
    border: 2px solid #c39335;
    caret-color: #c39335;
    color: #c39335;
    font-weight: 600;
    font-size: 15px;
    text-align: center;
}
.factors input[type = "text"]:focus{
    outline: none;
}
.search-container{
    text-align: center;
}
.searchBtn{
    width: 120px;
    height: 30px;
    border: none;
    border-radius: 5px;
    color: #f9f4ea;
    background-color: #c39335;
    font-size: 15px;
    cursor: pointer;
    margin: 2%  0;
    transition: all 0.2s ease-in-out;
}
.searchBtn:hover{
    background-color: #cfa85d;
}


@media screen and (max-width: 600px){
    .form{
        grid-template-columns: auto;
    }
}


.divider{
    width: 90%;
    margin: auto;
    display: grid;
    place-items: center;
}
.divider-img{
    max-width: 50%;
    height: auto;
}

/* cards */

.cards{
    width: 90%;
    margin: auto;
    padding: 2%;
}

.owl-prev, .owl-next{
    width: 25px;
    transform: scale(2) !important;
}
.owl-prev:hover, .owl-next:hover{
    background: #cfa85d !important;
}
.item{
    text-align: center;
}
.item img{
    border-radius: 10px;
}
.item h3{
    padding: 2%;
    font-size: 30px;
    color: #c39335;
    border-bottom: 2px solid #c39335;
}
.item p{
    padding: 2%;
    font-size: 20px;
    font-weight: 700;
    text-align: left;
    color: #262626;
}
.courses{
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
}
.courses li{
    font-size: 18px;
    padding: 2%;
}
.fees{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.fees p{
    font-size: 15px;
    color: #8a8a8a;
}
.ranking{
    color: #8a8a8a !important;
    font-size: 18px !important;
    text-align: center !important;
}
.college_website{
    font-size: 18px !important;
    text-align: center !important;
}
.college_website a{
    color: #c39335;
}
.college_website a:hover{
    color: #e1c99a;
}